@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('/portfolio-lea/assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Title';
    src: url('/portfolio-lea/assets/fonts/YesevaOne-Regular.ttf');
}

:root {
    --swiper-pagination-color: #000;
    --swiper-pagination-bullet-size: 15px;
    --swiper-pagination-bullet-width: 15px;
    --swiper-pagination-bullet-height: 15px;
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-bullet-inactive-opacity: 0.75;
    --swiper-pagination-bullet-horizontal-gap: 12px;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right,
            #94dcaa 0%,
            #94dcaa 50%,
            #7fcdc5 50%,
            #7fcdc5 100%);
}


#app {
    height: 100%;
}

.orange {
    background-color: #ff8c4f;
}

.orange:hover {
    background-color: #ff8c4f;
}

.pink {
    background-color: #fd2b58;
}

.pink:hover {
    background-color: #fd2b58;
}

.yellow {
    background-color: #ffe488;
}

.yellow:hover {
    background-color: #ffe488;
}